.nav {
    background-color: rgba(47, 60, 67, .5);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    z-index: 50;
    position: relative;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__logo {
        width: 17.8rem;
        height: 5.5rem;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include respond(tab-port) {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: rgba(47, 60, 67, .5);
            width: 100%;
            padding-left: 2rem;
        }

        li {
            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:nth-child(1) a div {
                background-color: $yellow;
            }

            &:nth-child(2) a div {
                background-color: $green;
            }

            &:nth-child(3) a div {
                background-color: $red;
            }

            &:nth-child(4) a div {
                background-color: $blue;
            }

            &:nth-child(5) a div {
                background-color: $violet;
            }

            &:nth-child(6) a div {
                background-color: $pink;
            }

            @include respond(tab-port) {
                padding: 1.5rem 0;
            }
        }

        a {
            text-decoration: none;
            font-family: 'OpenSans-Semibold';
            font-size: 1.5rem;
            line-height: 1;
            color: #fff;
            display: flex;
            align-items: center;

            span {
                position: relative;
                padding-bottom: .5rem;
                padding-top: .5rem;

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    border-radius: 1px;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $yellow;
                    transform-origin: 0%;
                    transform: scaleX(0);
                    transition: transform .4s,
                                width .4s cubic-bezier(1,0,0,1),
                                background-color .5s;
                }

                &:hover::after {
                    transform: scaleX(1);
                    width: 100%;
                }
            }

            div {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.5rem;
            }

            & .active {
                color: $yellow;
            }
        }
    }

}

.mobile-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}