.slider {
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: -7.5rem;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        text-align: center;
    }

    &__heading {
        font-family: "Dosis-ExtraBold";
        text-transform: uppercase;
        font-size: 6rem;
        line-height: 1;
        padding-top: 30.2rem;
        margin-bottom: 2rem;

        & span {
            color: $yellow;
        }
    }

    &__description {
        font-family: "Lato-Regular";
        font-size: 2rem;
        line-height: 1.4;
        max-width: 57rem;
        margin-bottom: 3.5rem;
    }
}

.slider__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateX(-50%);
}

.slider__toggle {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    border: none;
    background-color: #fff;
    color: #666;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;

    &:hover {
        opacity: .8; 
    }

    &--prev {
        margin-right: .2rem;
    }
}

.slider__item {
    background-size: cover;
    background-position: center top;
    min-height: 75.6rem;
}